
*{
  box-sizing: border-box;
  font-family: 'Poppins';
}

.dateWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DateInfo{
  display:inline-flex;
  gap: 16px;
  align-items: center;
  height: 120px;
  position: relative;
}

.dateResult{
  margin: 32px 0px 32px 0px;
}

.error-text{
  color: red;
}

li{
  list-style-type: none;

}

.output{
display: flex;
align-items: center;
gap: 12px
}

input[type = "text"]{
  border-radius: 24px;
  padding-left: 8px;
  border: 0.5px solid purple;
  height: 32px;
  width:200px;
  &:focus {
    outline: none;
    border: 2px solid darkmagenta
  }
}

label{
  font-size: small;
}

p{
  font-weight:bold;
}

li :nth-child(1){
  color: darkmagenta;
}

.ageBtn{
  background-color: rgb(44, 0, 86);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  height: 32px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 100px;
  position: absolute;
  right:-13%;
  top:30%;
}